@define-color bg #101010;
@define-color fg #CECFC9;
@define-color gray1 #000000;
@define-color gray2 #9A9D9A;
@define-color gray3 #D93F37;
@define-color gray4 #DA0F0F;
@define-color gray5 #FFFFFF;
@define-color fg_bright #FFFFFF;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
